h1 loosethreds
a(href="/login") Login
br
a(href="/logout") Logout
br
a(href="/register") Register
br
br
- if(typeof user !== 'undefined')
  form(method="post", action="/users/#{user.path()}/images", enctype="multipart/form-data")
    input(type="file", name="image")
    input(type="submit", name="submit", value="Submit")
