!!! 5
html
  head
    title Loose Threds
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    != messages()

    nav
      a(href="/") Home
      - if(typeof user === 'undefined')
        a(href="/login") Login
      - else
        a(href="/logout") Logout
        a(href="/users/#{user.path}") My Account

    != body
