h1 loosethreds
form(method="post", action="/users")
  input(type="text", name="name", placeholder="Name", autofocus, value="Wilson")
  input(type="text", name="email", placeholder="E-mail", value="colladow@me.com")
  input(type="text", name="username", placeholder="Username", value="Monsy")
  input(type="password", name="password", placeholder="Password", value="sept1687")
  input(type="password", name="password_confirmation", placeholder="Re-enter password", value="sept1687")
  input(type="submit", name="submit", value="Register")
