@import reset
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic);

.clear
  clear: both

body
  background-color: #333
  font: 14px 'Gudea', Helvetica, 'serif'
a
  color: #00B7FF
  display: block
h1
  color: #fff
  font-size: 30px
  font-weight: bold
h2
  font-size: 20px

// header
header
  margin-left: 20px
  margin-bottom: 40px
  h1
    font-size: 90px
    font-weight: bold
    a, a:hover, a:active, a:visited
      color: #fff
      text-decoration: none
  nav
    font-size: 20px
    a
      display: block
      float: left
      margin-right: 168px

section#body
  margin-left: 20px
  h1
    margin-bottom: 10px
  h2
    margin-bottom: 10px


section#body
  article.user
    float: left
    height: 400px
    margin-right: 10px
    position: relative
    width: 300px
    h2, a
      text-align: center
      width: 300px
    img
      border: none
      max-height: 360px
      max-width: 300px
