!!! 5
html
  head
    title loose threds
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1
        a(href="/") loose threds
      nav
        a(href="/") home
        - if(typeof currentUser === 'undefined')
          a(href="/login") login
        - else
          a(href="/users/#{currentUser.path}") my threds
          a(href="/logout") logout
      .clear

      != messages()

    section#body
      != body
