h1 Register
form(method="post", action="/users")
  input(type="text", name="name", placeholder="Name", autofocus)
  input(type="text", name="email", placeholder="E-mail")
  input(type="text", name="username", placeholder="Username")
  input(type="password", name="password", placeholder="Password")
  input(type="password", name="password_confirmation", placeholder="Re-enter password")
  input(type="submit", name="submit", value="Register")
